.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


css
Copy code
.logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100; /* Ensure the logo appears above other elements */
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.logo-image {
  width: 200px; 
  height: auto; 
}

.navbar {
  position: fixed;
  top: 20px; 
  right: 20px;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.navbar-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif; /* Apply the Ubuntu font */
  
  font-size: 20px;
}

/* Optional: Add hover effect */
.navbar-button:hover {
  text-decoration: underline; /* Underline on hover */
}

.overlaps-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  height: 100vh;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px; /* Add padding to avoid content touching the edges */
  box-sizing: border-box; /* Include padding in the total width/height */
}

.overlaps-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.overlaps-form h2 {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #30a651; /* Green color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #044015; /* Darker shade of green on hover */
}


.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard {
  width: 50%;
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}